@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

body{
    overflow: hidden;
    margin: 0;
}

.interface-logo {
    position: relative;
}

.foto {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.nome-logo {
    position: relative;
    text-align: center;
    font-family:'lateef', cursive;
    color: #8B008B;
    text-shadow: 4px 4px 4px black;
    bottom: 900px;
    right: 5px;
    font-size: 4rem;
}