@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

body {
    font-family: 'Lateef', cursive;
    font-size: 15pt;
    background-color: #006400;
}

header#cabecalho-principal{
    border: 1px solid black;
    position: relative;
    bottom: 694px;
}

nav#menu-principal {
    text-align: center;
}

img{
    width: 1200px;
    position: relative;
    left: 10%; 
    bottom: 8px;
}

header#cabecalho-secundario {
    border-bottom: 1px black solid;
}

p {
    text-align: justify;
    text-indent: 50px;
}