@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

.interface {
    font-family: 'Lateef', cursive;
    font-size: 15pt;
    background-color: #006400;
}

.div_cabecalho1 {
    text-align: center;
}

.menu-secundario ul {
    border: 1px black solid;
    display: block;
}

.menu-secundario li {
    display: inline-block;
    margin-left: 19.54%;
}

p {
    text-align: justify;
    text-indent: 50px;
}